<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="college"    column="college"    />
        <result property="role"    column="role"    />
        <result property="phone"    column="phone"    />
        <result property="mail"    column="mail"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastLogin"    column="last_login"    />
        <result property="deleted"    column="deleted"    />
        <result property="img"    column="img"    />
    </resultMap>

    <sql id="selectUsersVo">
        select id, username, password, name, sex, college, role, phone, mail, create_time, last_login, deleted, img from user
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="college != null  and college != ''"> and college = #{college}</if>
            <if test="role != null "> and role = #{role}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="mail != null  and mail != ''"> and mail = #{mail}</if>
            <if test="lastLogin != null "> and last_login = #{lastLogin}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>
    
    <select id="selectUsersById" parameterType="Long" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="college != null">college,</if>
            <if test="role != null">role,</if>
            <if test="phone != null">phone,</if>
            <if test="mail != null">mail,</if>
            <if test="createTime != null">create_time,</if>
            <if test="lastLogin != null">last_login,</if>
            <if test="deleted != null">deleted,</if>
            <if test="img != null">img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="college != null">#{college},</if>
            <if test="role != null">#{role},</if>
            <if test="phone != null">#{phone},</if>
            <if test="mail != null">#{mail},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="lastLogin != null">#{lastLogin},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="img != null">#{img},</if>
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="college != null">college = #{college},</if>
            <if test="role != null">role = #{role},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="mail != null">mail = #{mail},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="lastLogin != null">last_login = #{lastLogin},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="img != null">img = #{img},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUsersById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteUsersByIds" parameterType="String">
        delete from user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>